form#search {
    width: 287px;
    height: 39px;
    border: 1px solid #dadde0;
    padding: 5px 20px 5px 45px;
    border-radius: 5px;
    position: relative;
}
input[type=search]{
    width: 222px;
    height: 29px;
    border: none;
    position: absolute;
    top: 10px;
    font-size: 16px;
}
input[type=search]::placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #c2c8cc;
}
input[type=search]:focus {
    outline: none;
}